# Copyright (c) 2013 Silke Horn
# http://solros.de/polymake/poly_database
# 
# This file is part of the polymake extension poly_database.
# 
# poly_database is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# poly_database is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with poly_database.  If not, see <http://www.gnu.org/licenses/>.

CREDIT poly_database

use MongoDB;
use MongoDB::OID;

#use IO::Prompt;

# poly_database: The hostname of the database, default 'polymake.org'
custom $db_host = "polymake.org";

# poly_database: The port of the database, default 27017
custom $db_port = "27017";

# poly_database: The database username, default 'polymake'
custom $db_user = "polymake";

# poly_database: The database password, default 'database'
custom $db_pwd = "database";

# poly_database: The name of the authentication database, default 'pm'
custom $auth_db = "pm";

# poly_database: The name of the type database, default 'pm'
custom $type_db = "pm";



# @category Database
# Returns all objects in the database //db// in //collection// that match the query.
# 
# Contained in extension ''poly_database''.
# @param String db name of the database, see ...
# @param String collection name of the collection
# @param Hash query
# @param Bool local optional, set to 1 if you want to use a local database (on localhost), default 0
# @return Array<Core::Object>
user_function poly_db {
	my ($db_name, $collection, $query, $local) = @_;
	my $client = get_client($local);
	my $type = get_type($client, $db_name, $collection);
	my $col = get_collection($client, $db_name, $collection);	

	my $output = $col->find($query);
		
	return cursor2array($output, $type);
}

# @category Database
# Returns one object in the database //db// in //collection// that matches the query.
# 
# Contained in extension ''poly_database''.
# @param String db name of the database, see ...
# @param String collection name of the collection
# @param Hash query
# @param Bool local optional, set to 1 if you want to use a local database (on localhost), default 0
# @return Core::Object
user_function poly_db_one {
	my ($db_name, $collection, $query, $local) = @_;
	my $client = get_client($local);
	my $type = get_type($client, $db_name, $collection);
	my $col = get_collection($client, $db_name, $collection);	
		
	my $output = $col->find_one($query);
	
	return cursor2type($output, $type);
}


# @category Database
# Returns the number of objects in the database //db// in //collection// that match the query.
# 
# Contained in extension ''poly_database''.
# @param String db name of the database, see ...
# @param String collection name of the collection
# @param Hash query
# @param Bool local optional, set to 1 if you want to use a local database (on localhost), default 0
# @return Int
user_function poly_db_count {
	my ($db_name, $collection, $query, $local) = @_;
	my $type = get_type($client, $db_name, $collection);
	my $col = get_collection($client, $db_name, $collection);	

	return $col->count($query);
}


sub get_client {
	my ($local) = @_;

	my $client;
	if ($local) {
		$client = MongoDB::MongoClient->new;
	} else {
		$client = MongoDB::MongoClient->new(host=>$db_host.":".$db_port, db_name=>$auth_db, username=>$db_user, password=>$db_pwd);
	}

	return $client;
}

sub get_type {
	my ($client, $db_name, $collection) = @_;
	return $client->get_database($type_db)->get_collection("Types")->find({db => $db_name, col => $collection})->next;
}

sub get_collection {
	my ($client, $db_name, $collection) = @_;
	my $db = $client->get_database($db_name);
	return $db->get_collection($collection);
}

# This is a helper function that transforms the database cursor into an array of polymake objects.
sub cursor2array {
	my $cursor = shift;
	my $t = shift;
	
	my $app = $t->{'app'};
	my $type = $t->{'type'};

	my $obj_type = User::application($app)->eval_type($type);
	my $arr_type = User::application($app)->eval_type("Array<$type>");

	my $parray = $arr_type->construct->($cursor->count+0);
	my $i = 0;
	while (my $p = $cursor->next) {
		type_conversion($p);
		$parray->[$i] = $obj_type->construct->(%$p);
		++$i;
	}
	return $parray;

}


# This is a helper function that transforms the database cursor into an object.
sub cursor2type {
	my $cursor = shift;
	my $t = shift;
	
	my $app = $t->{'app'};
	my $type = $t->{'type'};

	my $obj_type = User::application($app)->eval_type($type);
	type_conversion($cursor);
	return $obj_type->construct->(%$cursor);
}
